<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="module-output" name="server-freeroot-ollama" />
      <element id="dir-copy" path="$PROJECT_DIR$/src/main/resources/ollama" />
    </root>
  </artifact>
</component>